.container {
  max-width: 1294px; }

header {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 40px; }
  header .nav__list-item a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0a0a0a;
    margin-right: 35px; }
  header .nav__list-item:nth-child(2):after {
    content: "";
    background-image: url("../images/arrow.svg");
    width: 12px;
    height: 8px;
    border: none;
    display: block;
    position: absolute;
    top: 10px;
    left: 225px; }
    @media screen and (max-width: 768px) {
      header .nav__list-item:nth-child(2):after {
        display: none; } }
  header .icon_link {
    list-style: none;
    margin-bottom: 0;
    margin-right: 20px; }
    header .icon_link li:first-of-type {
      margin-right: 15px; }

.new-phones .title_icon {
  background-color: #DCE5E2;
  border-radius: 32px; }
.new-phones h1 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-top: 145px;
  margin-bottom: 19px;
  margin-left: 56px; }
  @media screen and (max-width: 1282px) {
    .new-phones h1 {
      font-size: 52px; } }
.new-phones h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
  margin-left: 56px; }
  @media screen and (max-width: 1282px) {
    .new-phones h2 {
      font-size: 14px; } }
.new-phones a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  background: #DCE5E2;
  margin-left: 56px;
  padding: 14px 53px; }
  .new-phones a:hover {
    position: relative;
    border: 1px solid #000000;
    background: #1b3efa; }

.search_info input {
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  padding: 10px 28px;
  margin-top: 5px; }
  .search_info input:hover {
    border: 1px solid #000000; }

.ui-widget-header {
  border: 2px solid #000000;
  background: #4964ec;
  color: #333333; }

@media screen and (max-width: 1167px) {
  .owl-carousel .owl-item img {
    bottom: 0; } }

.owl-dots {
  position: absolute;
  top: 480px;
  left: 25%; }
  @media screen and (max-width: 1263px) {
    .owl-dots {
      width: 100%;
      left: 2%;
      top: 474px; } }
  @media screen and (max-width: 1248px) {
    .owl-dots {
      width: 100%;
      left: 2%;
      top: 460px; } }
  @media screen and (max-width: 990px) {
    .owl-dots {
      width: 100%;
      left: 2%;
      top: 979px; } }
  @media screen and (max-width: 428px) {
    .owl-dots {
      top: 883px;
      margin-left: 4px; } }

.owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 50%; }

.owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 50%; }

.owl-nav .owl-prev:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 25px;
  color: black; }

.owl-nav .owl-next:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 25px;
  color: black; }

.owl-dots .owl-dot span {
  background: #000000;
  width: 194px;
  height: 2px;
  left: calc(50% - 194px / 2 - 228px);
  top: calc(50% - 2px / 2);
  display: inline-block;
  margin-right: 30px; }
  @media screen and (max-width: 428px) {
    .owl-dots .owl-dot span {
      width: 95px; } }

.owl-dots .owl-dot.active span {
  background: #000000;
  width: 194px;
  height: 4px;
  left: calc(50% - 194px / 2 + 228px);
  top: calc(50% - 2px / 2);
  display: inline-block; }
  @media screen and (max-width: 428px) {
    .owl-dots .owl-dot.active span {
      width: 95px; } }

.offer_store {
  padding: 75px 0 10px 0; }
  .offer_store h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .offer_store p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px; }
  .offer_store h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000; }
  .offer_store h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000; }
  .offer_store .pic1 {
    padding: 0 42px 0 42px;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: 0.5s;
    bottom: 0; }
    @media screen and (max-width: 428px) {
      .offer_store .pic1 {
        margin-bottom: 220px; } }
    .offer_store .pic1:hover {
      bottom: -65px; }
    .offer_store .pic1 img {
      width: 100%;
      height: 100%;
      padding-right: 58px; }
    @media screen and (max-width: 428px) {
      .offer_store .pic1 h3 {
        text-align: right; } }
  .offer_store .pic2 {
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    transition: 0.4s;
    bottom: 0; }
    @media screen and (max-width: 428px) {
      .offer_store .pic2 {
        margin-top: 50px; } }
    .offer_store .pic2:hover {
      bottom: -28px; }
    .offer_store .pic2 img {
      width: 100%;
      height: 100%;
      padding-top: 144px; }
    .offer_store .pic2 h3 {
      margin-top: 41px; }
    .offer_store .pic2 h4 {
      margin-bottom: 144px; }
    @media screen and (max-width: 428px) {
      .offer_store .pic2 h4 {
        margin-bottom: 50px; }
      .offer_store .pic2 img {
        padding-top: 80px; } }
  .offer_store .pic3 {
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    transition: 0.4s;
    bottom: 0; }
    @media screen and (max-width: 428px) {
      .offer_store .pic3 {
        margin-top: 70px;
        margin-left: 5px; } }
    .offer_store .pic3:hover {
      bottom: -28px; }
    .offer_store .pic3 img {
      width: 100%;
      height: 100%;
      padding-bottom: 115px; }
    .offer_store .pic3 h3 {
      margin-top: 114px;
      margin-bottom: 5px; }
    .offer_store .pic3 h4 {
      margin-bottom: 42px; }
    @media screen and (max-width: 428px) {
      .offer_store .pic3 img {
        padding-bottom: 0; }
      .offer_store .pic3 h3 {
        margin-top: 70px; } }
  .offer_store .pic4 {
    padding: 0 42px;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    position: absolute;
    transition: 0.5s;
    bottom: -30px; }
    .offer_store .pic4:hover {
      transition: 0.5s;
      bottom: 30px; }
    .offer_store .pic4 img {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 428px) {
      .offer_store .pic4 h3 {
        display: none; } }

.sale-of-goods {
  padding-top: 100px;
  padding-bottom: 27px; }
  .sale-of-goods .thumb1:hover {
    transition: 0.3s;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    border-radius: 16px; }
  .sale-of-goods h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 28px; }
  .sale-of-goods h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .sale-of-goods p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 50px; }
  .sale-of-goods h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-top: 37px;
    margin-bottom: 9px; }
  .sale-of-goods h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 8px; }
  .sale-of-goods h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }

.Best_Product {
  padding: 47px 0 28px 0; }
  .Best_Product h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .Best_Product p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 56px; }
  .Best_Product .watch-2 .test_color {
    background: #F8F9FA;
    border-radius: 16px;
    text-align: center;
    padding: 41px 15px 28px 15px; }
    .Best_Product .watch-2 .test_color:hover {
      transition: .3s;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
      border-radius: 16px; }
  .Best_Product .watch-2 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 14px 63px;
    margin-bottom: 30px; }
  .Best_Product .watch-2 p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin: 0; }
  .Best_Product .watch-2 h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 30px; }

.place_for_ideas {
  padding-top: 47px;
  padding-bottom: 24px; }
  .place_for_ideas h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px; }
  .place_for_ideas h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 56px; }
  .place_for_ideas p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000; }
  .place_for_ideas a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    margin-top: 73px; }
    .place_for_ideas a:after {
      content: "";
      background-image: url("../images/arrow2.svg");
      width: 28px;
      height: 30px;
      border: none; }

.Product_search {
  padding-top: 51px;
  padding-bottom: 18px; }
  .Product_search h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 24px; }
  .Product_search form {
    max-width: 650px;
    width: 100%;
    height: 60px;
    position: relative; }
    .Product_search form input {
      width: 100%; }
    .Product_search form button {
      border: none;
      background: none; }
    .Product_search form .search_info {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #0a0a0a;
      background: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 100px;
      padding: 21px 20px 22px 67px;
      margin-bottom: 18px; }
    .Product_search form .search {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      position: absolute;
      bottom: 10px;
      left: 20px; }
      .Product_search form .search:before {
        content: "";
        background-image: url("../images/search2.svg");
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 8px;
        width: 28px;
        height: 30px; }
  .Product_search .btn_link {
    max-width: 660px;
    margin: auto; }
  .Product_search .button_items {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 12px 22px 13px 22px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    margin-right: 8px;
    margin-bottom: 7px; }

.quote {
  background: #DCE5E2;
  border-radius: 16px;
  max-width: 935px;
  margin: 68px auto 19px;
  padding-top: 47px;
  padding-bottom: 43px; }
  .quote h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .quote p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 19px; }
  .quote img {
    margin-bottom: 15px; }
  .quote form {
    max-width: 400px;
    width: 100%;
    height: 50px; }
    .quote form .item_email {
      background: #DCE5E2;
      border: 1px solid #000000;
      border-radius: 54px 0 0 54px;
      padding: 16px 150px 17px 32px;
      width: 100%; }
    .quote form .sing_up {
      background: #000000;
      border-radius: 0 200px 200px 0;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      max-width: 115px;
      width: 100%;
      height: 100%;
      color: #FFFFFF; }

.subscription {
  padding-top: 44px;
  background: #F8F9FA; }
  .subscription p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 19px; }
  .subscription ul:hover {
    transition: .3s;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    border-radius: 16px; }
  .subscription ul li {
    list-style: none;
    margin-bottom: 5px; }
    .subscription ul li:first-of-type {
      margin-bottom: 25px; }
      .subscription ul li:first-of-type a {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        text-decoration: none; }
    .subscription ul li a {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #000000;
      text-decoration: none; }
  .subscription .tip_link {
    border-top: 2px solid #DCE5E2;
    margin-top: 78px;
    padding-top: 52px; }
    .subscription .tip_link p {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000; }
    .subscription .tip_link a {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      color: #000000;
      margin-top: 19px;
      margin-left: 8px; }
      .subscription .tip_link a:after {
        content: "";
        background-image: url("../images/arrow2.svg");
        width: 28px;
        height: 30px;
        border: none;
        position: absolute;
        bottom: 10px; }

body {
  overflow-x: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999; }

.cursor2, .cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.cursor2.hover,
.cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none; }

.cursor2 {
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6); }

.cursor2.hover {
  background: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 1200px) {
  .cursor, .cursor2, .cursor3 {
    display: none; } }
/* #Primary style
================================================== */
.over-hide {
  overflow: hidden; }

.full-height {
  height: 100vh; }

/* #Navigation
================================================== */
.header-wrapper {
  position: relative; }

.nav-but-wrap {
  display: none; }
  @media screen and (max-width: 768px) {
    .nav-but-wrap {
      position: relative;
      float: right;
      padding-left: 15px;
      margin-top: -36px;
      transition: all 0.3s ease-out;
      display: inline-block; } }

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 99;
  top: 25px;
  cursor: pointer;
  display: block; }

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease; }

.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear; }

.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px; }

.nav {
  position: relative; }
  @media screen and (max-width: 768px) {
    .nav {
      position: fixed;
      z-index: 98;
      top: 0;
      left: 0; } }

.nav-active .nav__content {
  visibility: visible; }
  @media screen and (max-width: 768px) {
    .nav-active .nav__content {
      position: fixed;
      visibility: hidden;
      top: 50%;
      opacity: 0;
      margin-top: 20px;
      -webkit-transform: translate(0%, -50%);
      transition: none;
      transform: none;
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 428px) {
    .nav-active .nav__content {
      top: 20%;
      margin-left: 20px; } }

.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26, 0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
  transform: translateX(100%) translateY(-100%); }

.nav:after {
  background: #09090c;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.nav:before {
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }

.nav__list {
  padding: 0;
  margin: 0;
  z-index: 2;
  display: flex; }
  @media screen and (max-width: 768px) {
    .nav__list {
      flex-direction: column; } }

.nav__list-item {
  opacity: 1;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .nav__list-item {
      position: relative;
      display: block;
      -webkit-transition-delay: 0.8s;
      transition-delay: 0.8s;
      opacity: 0;
      text-align: center;
      color: #fff;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      font-size: 8vh;
      font-weight: 900;
      line-height: 1.15;
      letter-spacing: 3px;
      -webkit-transform: translate(100px, 0%);
      transform: translate(100px, 0%);
      -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
      transition: opacity .2s ease, -webkit-transform .3s ease;
      transition: opacity .2s ease, transform .3s ease;
      transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
      margin-top: 0;
      margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  .nav__list-item a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; } }

@media screen and (max-width: 768px) {
  .nav__list-item a:after {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -2px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #8167a9;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; } }

@media screen and (max-width: 768px) {
  .nav__list-item a:hover:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .nav__list-item a:hover {
    color: white; } }

@media screen and (max-width: 768px) {
  .nav__list-item.active-nav a {
    color: white; } }

@media screen and (max-width: 768px) {
  .nav__list-item.active-nav a:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%; } }

@media screen and (max-width: 768px) {
  body .nav__content {
    visibility: hidden;
    opacity: 0;
    transition: none;
    transform: none; } }

body.nav-active .nav__content {
  visibility: visible; }
  @media screen and (max-width: 768px) {
    body.nav-active .nav__content {
      opacity: 1; } }

body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg); }

body.nav-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg); }

body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg); }

body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px; }

body.nav-active .nav {
  visibility: visible; }

body.nav-active .nav:before, body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  border-radius: 0; }

body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
  transition-delay: .1s; }

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease; }

body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s; }

body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s; }

body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s; }

body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s; }

body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s; }

body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s; }

body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s; }

body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s; }

body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s; }

body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s; }

.switch-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
  width: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  margin: 0 auto;
  text-align: center; }

.switch-wrap h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

@media screen and (max-width: 580px) {
  .switch-wrap h1 {
    font-size: 32px; } }
.switch-wrap p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  color: #8167a9;
  text-align: center;
  margin-top: 15px; }

.switch-wrap p span {
  position: relative; }

.switch-wrap p span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -4px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.switch-wrap p span:nth-child(2):before {
  opacity: 0; }

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

#switch {
  width: 60px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 27px;
  background: #8167a9;
  position: relative;
  display: inline-block; }

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff; }

.switched {
  border-color: #8167a9 !important;
  background: #000 !important; }

.switched #circle {
  left: 43px;
  background: #000; }

body.light {
  background-color: #fff; }

body.light .cursor,
body.light .cursor2,
body.light .cursor3 {
  mix-blend-mode: normal; }

body.light .cursor2 {
  border: 2px solid #1f2029;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }

body.light .cursor2.hover {
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: transparent; }

body.light .menu-icon__line {
  background-color: #1f2029; }

body.light .nav:before {
  background: rgba(235, 235, 235, 0.6); }

body.light .nav:after {
  background: #fafafa; }

body.light .nav__list-item a:hover {
  color: #0a0a0a; }

body.light .nav__list-item.active-nav a {
  color: #0a0a0a; }

body.light .switch-wrap h1 {
  color: #000; }

body.light .switch-wrap p span:nth-child(2):before {
  opacity: 1;
  background-color: #000; }

body.light .switch-wrap p span:nth-child(1):before {
  opacity: 0; }

.link-to-portfolio {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: 65%;
  background-repeat: no-repeat;
  background-image: url("https://assets.codepen.io/1462889/fcy.png");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out; }

.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1); }

/*# sourceMappingURL=main.css.map */
